{% extends 'catalog/base.html' %}
{% block content%}


<form method="post" action="" class="form-floating">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name">Ссылка</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
               required>
    </div>

    <!--                    </form>-->
    <!--                    <input type="submit">-->
    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Потдвердить</button>
    <!--                  <br>-->
</form>


{% endblock%}